<div id="<%= dom_id news %>" class="new-space">
  <p>
    <strong><h5>Title:</h5></strong>
    <%= news.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= news.content %>
  </p>

  

</div>
