<div id="<%= dom_id news %>" class="new-space">
  <p>
    <strong><h5>Título:</h5></strong>
    <%= news.title %>
  </p>

  <p>
    <strong>Contenido</strong>
    <%= news.content %>
  </p>

  

</div>
