<p style="color: green"><%= notice %></p>

<h1>Noticias</h1>

<%= link_to "Nueva noticia", new_news_path, class: "btn btn-outline-success btn-margin" %>

<div id="news">
  <% @news.each do |news| %>
    <%= render news %>
    <p>
      <%= link_to "Ver noticia", news %>
    </p>
  <% end %>
</div>


