<section class="about-section">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 mx-auto text-center">
            <h2 class="section-heading">Bienvenidos a TheRialNews</h2>
            <p class="section-subheading text-muted">Donde la Sátira y la Actualidad se Encuentran</p>
        </div>
        </div>
        <div class="row my-5">
        <div class="col-lg-12 mx-auto text-center">
            <p>
            En TheRialNews, nos enorgullecemos de ser un portal de noticias diferente a los demás. Nuestro cliente, Gonzalo, ha puesto su ingenio y creatividad en cada artículo que encontrarás en este sitio. Aquí, la sátira es nuestra mejor amiga, y la actualidad es solo el punto de partida para crear historias que despierten tu imaginación.
            </p>
            <p>
            Creemos que la libertad de expresión es un valor fundamental en una sociedad democrática. Es por eso que fomentamos un espacio abierto donde las opiniones y las ideas pueden fluir sin restricciones, siempre y cuando se respete la integridad y los principios de todos nuestros lectores.
            </p>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-12 mx-auto text-center">
            <p class="section-subheading text-muted">
            En TheRialNews, encontrarás noticias que te harán cuestionar la realidad y te sacarán una sonrisa. Nuestro enfoque no es ser serios, sino ser auténticos y creativos en cada artículo que publicamos. Somos un equipo comprometido a traerte las historias más inverosímiles y sorprendentes que puedas imaginar.
            </p>
            <p class="section-subheading text-muted">
            Así que, bienvenidos a nuestro mundo de sátira y actualidad. ¡Esperamos que disfrutes de esta travesía informativa y que encuentres en TheRialNews una fuente de diversión, reflexión y entretenimiento único en su estilo!
            </p>
        </div>
        </div>
    </div>
</section>

